<h1>Welcome to service</h1>
<%=%>

<div>
<%= link_to 'List existing services request', :controller => 'service', :action => 'list'%>
</div>
<div>
<%= link_to 'New service request', :controller => 'service', :action => 'new'%>
</div>