<div><%= params[:notice] %></div>
<div>All Services</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  
  <% @services.each do |s| %>
  <tr>
    <td><%=s.name%></td>
    <td><%=s.description%></td>
    <td><%=link_to "Update " + s.id.to_s, :controller => 'service', :action => 'update', :id => s.id%></td>
  </tr>  
  <% end %>
</table>