<script type="text/javascript">
 
// textbox + select list utility
var combo = 
{
  getSelectId: function(fieldname)
  {
    // JQ sample from web
    //$('#yourdropdownid').find('option:selected').text();
    return '#select_' + fieldname + ' > select ';
  },

  gettextboxId: function(fieldname)
  {
    return '#textbox_' + fieldname + ' > input';
  },
  
  addChangeEvent: function(fieldname)
  {
    $(combo.getSelectId(fieldname)).change(function()
      {
        var selectVal = $(combo.getSelectId(fieldname)).find('option:selected').text();
        $(combo.gettextboxId(fieldname)).val(selectVal);
      }
    );    
  }
}
  
$(document).ready(function ()
  {
    combo.addChangeEvent('customers');
    combo.addChangeEvent('submitters');
    combo.addChangeEvent('owners');
  }
);  
  
</script>
<div><%= params[:notice] %></div>
<h1><div>Request new service</div></h1>

<%= render 'form' %>